@use "../../styles/variables" as *

.single-item
    background-color: $beige
    color: $brown
    margin-top: 100px
    min-height: 100vh

    .container-top
        display: flex
        flex-direction: column
        justify-content: center
        overflow: hidden
        margin: auto

        .item-image
            height: 60vh
            width: 100%
            background-color: $rose
            border-radius: 0 0 40px 40px

            img
                display: block
                max-width: 100%
                max-height: 100%
                object-fit: cover
                margin: auto

    .container-bottom
        padding: 3% 5%
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
        row-gap: 2rem
        align-items: start
        justify-items: end

        .item-info
            flex-basis: 60%

            .name
                font-weight: bold
                font-size: 1.75rem

            .price
                font-weight: bold
                padding: 5% 0
                font-size: 1.5rem

        .item-actions
            display: flex
            align-items: center
            flex-wrap: nowrap
            width: 150px
            height: 60px
            border-radius: 20px 
            margin: auto


            button
                border: none
                background-color: $brown
                color: $yellow
                width: 100%
                height: 100%
                cursor: pointer
                font-size: 1.75rem
                width: 50px

                &:first-child
                    border-radius: 20px 0 0 20px

                &:nth-last-child(1)
                    border-radius: 0 20px 20px 0
                    
            span
                font-size: 1.75rem
                height: 60px
                width: 60px
                border: 1px solid $brown
                display: flex
                justify-content: center
                align-items: center



@media screen and (max-width: 1024px)
    .single-item
        .container-top
            .item-image
                height: 100%
                img
                    border-radius: 0 0 40px 40px

@media screen and (min-width: 2000px)
    .single-item
        .container-top
            .item-image
                height: 50vh


