@use "./variables" as *
    
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: Rubik, sans-serif

body
  background-color: $beige

@font-face 
  font-family: "Rubik" 
  src: url("/assets/fonts/Rubik-VariableFont_wght.ttf")


