@use "../../../../styles/variables" as *

.confirmed-item
    display: flex
    align-items: center
    width: 75%
    margin: 20px auto
    color: $brown
    background-color: $rose
    border-radius: 40px
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px
    height: 125px


    .item-image
        height: 100%
        width: 175px

        img
            display: block
            width: 100%
            height: 100%
            object-fit: cover
            border-radius: 40px
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px

    .item-info
        display: flex
        flex-direction: column
        height: 100%
        justify-content: space-between
        padding: 20px

        .item-name
            font-size: 1.75rem

        .item-price
            font-size: 1.5rem

    .quantity
        font-size: 1.5rem
        margin-left: auto
        padding-right: 20px

@media screen and (max-width: 500px)
    .confirmed-item
        height: 90px
        width: 95%
        border-radius: 20px
        margin: 10px auto

        .item-image
            width: 125px

            img
                border-radius: 20px
                width: 125px

        .item-info    
            padding: 10px

            .item-name
                font-size: 1.25rem

            .item-price
                font-size: 1rem

        .quantity
            font-size: 1.25rem