@use "../../styles/variables" as *

.header
    width: 100%
    color: $brown
    padding: 1.5% 3% 
    position: fixed
    top: 0
    z-index: 30
    font-size: 1.5rem

    .back-btn
        border: none
        border-radius: 50%
        width: 3rem
        height: 3rem
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
        background-color: $pink
        display: flex
        align-items: center
        justify-content: center
        float: left


    .waiter-icon
        position: relative
        border-radius: 50%
        width: 3rem
        height: 3rem
        background-color: $pink
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
        border: none
        cursor: pointer
        float: right

    .order-quantity
        position: absolute
        left: 0
        bottom: 0
        transform: translate(-30%, 25%)
        width: 1.5rem
        height: 1.5rem
        font-size: .85rem
        font-weight: bold
        background-color: $peach
        color: white
        border-radius: 50%
        display: flex
        align-items: center
        justify-content: center
